@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: #F3F4F6;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    color: #333;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #F3F4F6;
}

::-webkit-scrollbar-thumb {
    background: #C0C5CE;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #A0A5AF;
}
