.itemdisplay {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    margin-top: 80px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s, transform 0.2s;
    cursor: pointer;
    padding: 1rem;
}

.item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
}

.itemimg {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.maintext {
    font-size: 1.2rem;
    font-weight: 600;
    color: #4B5563;
    text-align: center;
    margin-bottom: 0.5rem;
}

.subtext {
    font-size: 1rem;
    color: #6B7280;
    text-align: center;
}
.no-articles {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #6b7280;
    background-color: #f9fafb;
    height: 100vh; /* Full viewport height */
    margin: 0;
    padding: 0;
}
.jump-button {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.jump-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

@media (max-width: 768px) {
    .itemdisplay {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 1rem;
        padding: 1.5rem;
        margin-top: 60px;
    }

    .item {
        padding: 0.8rem;
    }
}
