.profile-container {

    padding: 2rem;
    padding-left: 3rem;
    max-width: 600px;
    margin: 20px auto;
    background: rgba(205, 182, 175, 0.5);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(217, 164, 143, 0.4);
    border: solid 3px #d9a48f;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-top: 100px;
}

.profile-heading {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 0.5rem;
    text-align: left;
}

.welcome-text {
    font-size: 1.1rem;
    color: #555;
    text-align: left;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-top: 2rem;
}

.logout-button {

    padding: 0.75rem;
    background: linear-gradient(135deg, #d9a48f, #b97e69);
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s, transform 0.2s;
    box-shadow: 0 3px 6px rgba(185, 126, 105, 0.3);

}
