.top-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 6.7rem;
    margin-left: 1rem;
}

.advertisers-button {
    padding: 10px 30px;
    background: linear-gradient(135deg, #d9a48f, #b97e69);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 2 rem;
}

.advertisers-button:hover {
    background: linear-gradient(135deg, #b97e69, #a06754);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.itemdisplay {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}


