.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background 0.3s;
}

.header:hover {
    background: #F9FAFB;
}

.logo {
    height: 40px;
}

.headerbtn {
    padding: 0.4rem 1rem;
    background: linear-gradient(135deg, #d9a48f, #b97e69);
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 0.85rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s, transform 0.2s;
    box-shadow: 0 2px 5px rgba(185, 126, 105, 0.2);
}

.headerbtn:hover {
    background: linear-gradient(135deg, #b97e69, #a06754);
    box-shadow: 0 3px 8px rgba(185, 126, 105, 0.3);
    transform: translateY(-2px);
}

.headerbtn:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(185, 126, 105, 0.2);
}

.headerbtndiv {
    display: flex;
    gap: 8px;
    padding: 3px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    align-items: center;
}

.searchbar {
    display: flex;
    align-items: center;
    gap: 6px;
    background: rgba(198, 162, 150, 0.5);
    padding: 0.4rem;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(217, 164, 143, 0.5);
}

.searchinput {
    width: 300px;
    padding: 0.4rem;
    font-size: 0.9rem;
    background: #F3F4F6;
    border: none;
    border-radius: 6px;
    color: #333;
}

.searchinput:focus {
    outline: 2px solid #4F46E5;
}

.searchbtn {
    background: none;
    border: none;
    cursor: pointer;
}

.searchbtn > img {
    width: 20px;
    height: 20px;
    transition: transform 0.2s;
}

.searchbtn:hover > img {
    transform: scale(1.1);
}
