/* General Styling */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9FAFB;
}

/* Header Styling */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background 0.3s, box-shadow 0.3s;
}

.header:hover {
    background: #F9FAFB;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.logo {
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.header-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 0 auto;
}

/* Header Button Styling */
.headerbtn, .get-weather {
    padding: 0.5rem 1rem;
    background: linear-gradient(135deg, #d9a48f, #b97e69);
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 0.85rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s, transform 0.2s;
    box-shadow: 0 2px 5px rgba(185, 126, 105, 0.2);
}

.headerbtn:hover, .get-weather:hover {
    background: linear-gradient(135deg, #b97e69, #a06754);
    box-shadow: 0 3px 8px rgba(185, 126, 105, 0.3);
    transform: translateY(-2px);
}

.headerbtn:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(185, 126, 105, 0.2);
}

/* Button Container */
.headerbtndiv {
    display: flex;
    gap: 1rem;
    padding: 5px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    align-items: center;
}



/* Navigation Styling */
.navbar {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-item {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-item:hover {
    color: #b97e69;
}

/* Sticky Header Shadow */
.sticky-header {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 8px;
    overflow: hidden;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    color: #333;
    padding: 0.75rem;
    text-decoration: none;
    display: block;
    transition: background 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    background: #F9FAFB;
    color: #b97e69;
}

.center-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}



